.main-header {
  padding-top: 1px;

  // min-height: 879px;
  min-height: 865px;
  background-color: _palette(light-bg-color);
  background-image: url('../img/main-header__bg.jpg');
  background-repeat: no-repeat;
  background-size: 1366px 906px;
  background-position: center top;

  @media (min-resolution: _retina(dpi)), (min-resolution: _retina(dppx)) {
    background-image: url("../img/main-header__bg@2x.jpg");
  }
}

.main-header__wrapper {
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 17px 0 12px;
  width: 1142px + 29px;
}

.main-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 15px;
  line-height: 18px;
}

.main-header__logo img {
  width: 137px;
  height: 48px;
}

.main-header__order-call {
  text-transform: none;
  font-variant: small-caps;
  border-bottom: 1px dashed _font(text-color);
}

.main-header__promo {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  margin-top: 455px;
  width: 350px;

  h1 {
    margin: 0;
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 1.2;
    font-family: _font(family);
    font-weight: _font(weight-bold);
    color: _palette(text-light-color);
    text-transform: none;
    text-align: center;
  }
}

.main-header__scroll-down {
  display: block;

  width: 76px;
  height: 132px;

  background-image: url('../img/scroll-down.png');
  background-size: 76px 132px;
  background-repeat: no-repeat;
  transition: opacity _duration(transition);

  &:hover,
  &:focus {
    opacity: 0.6;
    animation: bounce 0.5s ease-in-out 3;
  }

  @media (min-resolution: _retina(dpi)), (min-resolution: _retina(dppx)) {
    background-image: url('../img/scroll-down@2x.png');
  }
}

@media (max-width: 1200px) {
  .main-header__wrapper {
    width: auto;
  }
}

@media (max-width: _breakpoint(mobile)) {
  .main-header {
    min-height: 620px;
    background-image: url('../img/main-header__bg--mobile.jpg');
    background-position: center 35px;
    background-size: 912px 617px;

    @media (min-resolution: _retina(dpi)), (min-resolution: _retina(dppx)) {
      background-image: url('../img/main-header__bg--mobile@2x.jpg');
    }
  }

  .main-header__wrapper {
    padding: 0 16px;
  }

  .main-header__top {
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;

    a {
      margin-bottom: 15px;
    }

    a:last-child {
      margin-bottom: 0;
    }
  }

  .main-header__logo {
    position: absolute;
    left: 16px;
  }

  .main-header__promo  {
    margin-top: 270px;
    width: 300px;

    h1 {
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  .main-header__scroll-down {
    bottom: -110px;
  }
}
